<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotifyAlert</key>
	<false/>
	<key>DataSync</key>
	<date>2017-12-31T16:00:01Z</date>
	<key>VibratingAlert</key>
	<false/>
	<key>TomatoLength</key>
	<integer>25</integer>
	<key>ShortBreak</key>
	<integer>5</integer>
	<key>LongBreak</key>
	<integer>25</integer>
	<key>LongBreakInterval</key>
	<integer>4</integer>
	<key>AutomaticNext</key>
	<false/>
	<key>AutomaticRest</key>
	<false/>
	<key>ScreenBright</key>
	<false/>
</dict>
</plist>
